header, footer
{
    display: flex;
    align-items: center;
    background-color: rebeccapurple;
    justify-content: center;
    padding: 10px;
    
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.nav_bar
{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
header > nav > button
{
    font-size: 19px;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    color: yellow;
    /* border-radius: 33%; */
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.new_content
{
    margin: 20px;
    padding: 10px;
}
.new_content > h2
{
    color: orange;
    font-size:32px;
}
.Home_ 
{
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    background-image:url("banner-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.Home_ > div{
    margin-top: 30px;
    width: 60%;
}
.Us_
{
    padding: 20px;
}
.Us_ > div
{
    display: flex;
}
#content
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#restinfo
{
    height: 100%;
    width: 3400px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.row
{
background-image: url("zachariah-hagy-MCKrW7fB7Pw-unsplash.jpg");
background-size: 100% 100%;
padding: 20px;
    /* background-image: url("jay-wennington-N_Y88TWmGwA-unsplash.jpg"); */
}
.Us_ > div > .gal
{
    padding: 20px;
    width: 50%;
    height: 50%;
}
.Galary_ > div > .gal
{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2px;
    grid-template-columns: repeat(3,1fr);
    /* grid-column: -3 / -1;  */
}
.gal > img
{
    height: 60%;
    width:  100%;
}