body
{
    /* background-color: aqua; */
    /* background-image: url("pathfinderchilis.gif"); */
    /* background-image: url("zachariah-hagy-MCKrW7fB7Pw-unsplash.jpg"); */
    background-image: url("jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
header
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background-image: url("zachariah-hagy-MCKrW7fB7Pw-unsplash.jpg"); */
    /* background-image: url("pathfinderchilis.gif"); */
    
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
    position: relative;
    z-index: 1;
}
header > nav > button
{
    font-size: 19px;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    color: yellow;
    /* border-radius: 33%; */
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures video covers entire background */
    z-index: -1; /* Puts the video behind other content */
}